###
#
#  these are the local settings


poll_interval: 300
poll_interval_if_off: 300
inverter:
    location: somewhere
    name: solis
    units: 2    # assume slave addresses start at 1
    manufacturer: Ginlong Technologies
    model: 40k

device: /dev/ttyUSB0   #sudo gpasswd -a dietpi dialout

mqtt:
    host:    localhost
    use_ssl: false
    port:    1883
    username: whoami
    password: secret
    topic:    "solar"

influx:
  url:  http://localhost:8086   # does have to be URL !
  token: mytoken
  org:  mysolar
  bucket: solar   # also called database

